<nav class="navbar navbar-expand-lg navbar-dark m-0">
  <a class="navbar-brand" [routerLink]="['/']">
    <!-- Nav brand-->
    <img
      src="assets/youtube-notebook-logo-yellow.png"
      alt="Logo Youtube Notebook"
      class="nav-icon"
    />

    <span class="ml-2">Youtube Notebook</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    *ngIf="user$ | async as user"
  >
    <!-- If a user is authenticated -->
    <ul class="navbar-nav mr-auto" *ngIf="userFoldersTree$ | async as folders">
      <li
        class="nav-item my-auto"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="['/']" class="nav-link">Accueil</a>
      </li>

      <!-- Dropdown to explore the user's personal folders -->
      <li class="nav-item dropdown my-auto">
        <a
          [routerLink]=""
          class="nav-link dropdown-toggle "
          id="navFoldersDropdown"
          role="button"
          data-target="#tar"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <!-- <i class="far fa-folder-open"></i> -->
          <span class="mx-2">Mes dossiers</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navFoldersDropdown"
        >
          <h5 class="dropdown-header">Sujets</h5>

          <div
            *ngIf="folders.length > 0; then foldersTree; else noFolder"
          ></div>

          <!-- User has folders -->
          <ng-template #foldersTree>
            <!-- <div style="max-height: 150px;" class="overflow-auto">
              <a
                *ngFor="let folder of folders"
                class="dropdown-item text-wrap"
                [routerLink]="['/subject/', folder.id]"
              >
                {{ folder.spacing | spacing }}{{ folder.name }}
              </a>
            </div> -->
            <app-nav-folders-tree
              *ngFor="let folder of folders"
              [folder]="folder"
              style="max-height:150px;"
              class="overflow-auto"
            ></app-nav-folders-tree>
          </ng-template>

          <!-- User doesn't have any folder -->
          <ng-template #noFolder>
            <p class="text-muted p-3">Aucun dossier n'a encore été créé.</p>
          </ng-template>

          <div class="dropdown-divider"></div>
          <a
            [routerLink]=""
            class="dropdown-item"
            data-toggle="modal"
            data-target="#modalAjoutSujet"
          >
            Créer un dossier
          </a>
        </div>
      </li>

      <app-ajout-sujet *ngIf="user.uid" [userId]="user.uid"></app-ajout-sujet>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="(playlistItems$ | async).length > 0">
        <a [routerLink]="['/playlist']" class="nav-link"
          >Playlist</a
        >
      </li>
      <!-- Dropdown for others personal actions : user's profile, sign out -->
      <li class="nav-item dropdown">
        <a
          [routerLink]=""
          class="nav-link dropdown-toggle"
          id="navUserDropdown"
          role="button"
          data-target="#user"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img [src]="user.photoURL" class="rounded-circle nav-icon" />
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navUserDropdown"
        >
          <div class="p-3">
            <span class="">{{ user.displayName }}</span>
            <p class="mb-0 text-muted">{{ user.email }}</p>
          </div>
          <div class="dropdown-divider"></div>
          <a
            [routerLink]=""
            class="dropdown-item text-danger"
            (click)="signOut()"
            >Se déconnecter</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
