@import '../../styles/abstracts/variables';

nav {
  // background-color: rgba(0, 0, 0, 0) !important;
  background-color: map-get($colors, nav-purple);
  padding: 0px 10px !important;
}

.navbar-brand:hover > span {
  color: map-get($colors, highlight);
}

.nav-icon {
  height: 30px;
}

.active > .nav-link {
  color: map-get($colors, highlight);
}
