<a class="dropdown-item d-flex justify-content-between" [routerLink]="['/subject/',folder.id]" routerLinkActive="active">
  <span class="mr-3">
    {{ folder.spacing | spacing }}
    <i class="fas fa-folder"></i> 
    <span class="ml-3">{{ folder.name }}</span>
  </span>
  <!-- <span class="ml-4"> {{ folder.videos }} 🎥 <span class="ml-1">{{ folder.subfolders.length }} <i class="far fa-folder-open ml-2"></i></span></span> -->

</a>
<app-nav-folders-tree *ngFor="let f of folder?.subfolders" [folder]="f"></app-nav-folders-tree>
