@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

$colors: (
  background-purple: #362e3d,
  nav-purple: #7b678d,
  white-purple: #eee7f3,
  orange: #e27d1eee,
  red: rgb(212, 42, 19),
  highlight: #f8f66d
);

$fonts: (
  // main: (
    //   'Roboto',
    //   Arial,
    //   sans-serif
    // ),
    console: ('Inconsolata', Arial, sans-serif),
  main: ('Open Sans', sans-serif)
);
