@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/placeholders';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'layout/grid';

@import 'themes/dark';

@import 'shame';

* {
  font-family: map-get($fonts, main);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: white !important;
}

body {
  scrollbar-width: none !important;
  overflow: -moz-scrollbars-none !important;
  -ms-overflow-style: none !important;
  overflow-y: scroll;
}

.hightlight {
  padding-left: 10px;
  padding-right: 10px;
  background-color: map-get($colors, highlight);
  font-weight: bolder;
}
