<div
  class="modal fade"
  id="addSubfolderModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addSubfolderModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <form
      class="modal-content"
      [formGroup]="subjectFormGroup"
      (ngSubmit)="submitSubject()"
    >
      <div class="modal-header">
        <h5 class="modal-title text-center" id="addSubfolderModalTitle">
          Nouveau sous-dossier
        </h5>
        <button
          type="button"
          [attr.id]="'close' + subject.id"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <input type="hidden" formControlName="$key" />
      <div class="modal-body">
        <div class="form-label-group">
          <input
            type="url"
            class="form-control"
            placeholder="Nom du fichier"
            required
            autofocus
            autocomplete="off"
            id="folderName"
            formControlName="titre"
          />
          <label for="folderName">Nom du dossier</label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-lg btn-primary btn-block mt-2">
            Créer
          </button>
        </div>
        <div
          class="alert alert-success fade show"
          role="alert"
          *ngIf="submittedSubject"
        >
          <strong>Motivé, motivé! 💪</strong> Un nouveau sous-dossier a été
          créé.
        </div>
      </div>
    </form>
  </div>
</div>
