<a
  class="subfolder-card card shadow h-100 overflow-hidden"
  [routerLink]="['/subject/', subfolder.id]"
>
  <div class="card-header">
    <h4 class="card-title">
      <span>{{ subfolder.libelle }}</span>
    </h4>
    <h6 class="card-subtitle" *ngIf="videos > 0">{{ videos }} vidéos</h6>
  </div>
  <div class="card-body subfolder-thumbnails">
    <!-- <div class="row mx-auto w-100 h-100"> -->
    <!-- <div class="" *ngFor="let vt of s.videosThumbnails"> -->
    <img
      [src]="vt"
      alt="Video Thumbnail"
      *ngFor="let vt of videosThumbnails"
      [ngClass]="{
        'only-video': videosThumbnails.length === 1
      }"
    />
    <!-- </div> -->
  </div>
  <!-- </div> -->
</a>
