@import '../../../styles/abstracts/variables';

.subfolder-thumbnails {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-content: center;

  img {
    width: 100%;
    align-self: center;
    justify-self: center;
  }

  .only-video {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.subfolder-card {
  max-width: 400px;
  height: 350px;
  text-decoration: none !important;
  color: inherit;

  h4 {
    font-weight: bold;
  }

  :hover > h4.card-title > span {
    background-color: map-get($colors, highlight);
  }
}
