<!-- Top Navbar -->
<header>
  <app-header></app-header>
</header>

<!-- Main page content -->
<main class="container-fluid w-auto h-auto  flex-fill">
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer class="bg-secondary text-white h-auto w-auto p-4">
  <p>© 2018-2019 - Christopher Gouveia</p>
</footer>
