<ng-container *ngIf="playlistItems">
  <ng-container *ngIf="playlistItems.length > 0; else noPlaylist">
    <ng-container *ngIf="currentState$ | async as currentState">
      <header
        class="d-flex align-items-center justify-content-between mb-3 p-4"
      >
        <h1 class="hightlight">
          <span class="highlight">
            Playlist
          </span>
        </h1>
        <!-- Player controls -->
        <app-playlist-controls
          [firstItem]="firstItem"
          (playingPreviousItem)="playPreviousItem($event)"
          (playingItem)="playItem($event)"
          (pausingItem)="pauseItem()"
          (playingNextItem)="playNextItem($event)"
        >
        </app-playlist-controls>
      </header>

      <!-- Playlist content : list of videos -->
      <main class="container-fluid">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
          <h4
            class="border-bottom border-gray pb-2 mb-0 d-flex justify-content-between align-items-center"
          >
            Lire toutes les vidéos hors ligne :

            <ng-container *ngIf="currentState !== 'stopped'; else loading">
              <!-- Button : load playlist-->
              <button
                *ngIf="
                  currentState == 'stopped' || currentState === 'readyToLoad'
                "
                class="btn btn-primary btn-sm float-right"
                (click)="loadPlaylist()"
              >
                <i class="fas fa-download"></i>
                <span class="ml-3">Charger les vidéos</span>
              </button>

              <!-- Button : stop loading -->
              <button
                *ngIf="currentState == 'loading'"
                class="btn btn-danger btn-sm float-right"
                (click)="stopLoading()"
              >
                <i class="fas fa-stop"></i>
                <span class="ml-3">Arrêter le chargement</span>
              </button>
            </ng-container>
          </h4>

          <!-- List of playlist items -->
          <app-playlist-item
            class=""
            *ngFor="let item of playlistItems"
            [video]="item.video"
            [index]="item.index"
            (ended)="playNextItem(item)"
            (progressPlayer)="updateProgressPlayer($event)"
            (readyToLoad)="notifyItemReadyToLoad(item)"
          ></app-playlist-item>
        </div>
      </main>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #noPlaylist>
  <p class="no-playlist">
    Aucune vidéo n'a été chargé dans la playlist.
  </p>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
