<div class="modal fade" id="modalAjoutSujet" tabindex="-1" role="dialog" aria-labelledby="modalAjoutSujetTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="ajoutSujetForm" (ngSubmit)="onSubmit($event)" autocomplete="off">
        <input type="hidden" formControlName="$key">

        <div class="modal-header">
          <h5 class="modal-title" id="modalAjoutSujetTitle">Ajouter un dossier</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <!-- Choosing folder name -->
          <div class="form-group">
            <label for="lien-video">Nom du sujet :</label>
            <div>
              <input type="url" class="form-control" id="titre"
                placeholder="" formControlName="titre"
                [ngClass]="{'is-invalid' : submitted && ajoutSujetForm.controls.titre.errors}">
              <div class="invalid-feedback" *ngIf="submitted && ajoutSujetForm.controls.titre.errors">
                Champ obligatoire
              </div>
            </div>
          </div>


          <div class="form-group" *ngIf="userFolders$ | async as folders">
            <label for="idTheme">Imbriquer le dossier sous :</label>
            <div>
              <select class="custom-select" id="idTheme" formControlName="idTheme">
                <option selected></option>
                <!-- <app-option-folders-tree *ngFor="let folder of folders" [folder]="folder"></app-option-folders-tree> -->
                <option *ngFor="let folder of folders" [value]="folder.id">
                  {{ folder.libelle }}
                </option>
              </select>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="showSuccessMessage">
          🎊 Un nouveau dossier a été créé
      </div>
    </div>
  </div>
</div>

