<div class="media text-muted py-3 mb-0 lh-125 border-bottom border-gray w-100">
  <!-- Thumbnail -->
  <img
    [src]="video.thumbnails.medium.url"
    [alt]="video.titre"
    class="thumbnail"
    [ngClass]="{
      over: !isPlaying,
      under: isPlaying
    }"
  />

  <!-- Youtube Player -->
  <div
    class="embed-responsive embed-responsive-16by9"
    [ngClass]="{
      over: isPlaying,
      under: !isPlaying
    }"
  >
    <youtube-player
      [videoId]="video.youtubeId"
      (ready)="savePlayer($event)"
      (change)="onPlayerStateChange($event)"
      [playerVars]="playerVars"
      class="embed-responsive-item"
    >
    </youtube-player>
  </div>

  <div class="media-body ml-3">
    <h6 class="d-flex justify-content-between w-100">
      <strong class="text-gray-dark">{{ video.titre }}</strong>
      <small>{{ player?.getDuration() | minutesSeconds }}</small>
    </h6>
    {{ video.channelTitle }}

    <!-- Progress bar -->
    <div *ngIf="currentState == 'loading'">
      <div class="w-100" *ngIf="progress; else loading">
        <p class="text-center w-100">{{ progress | number: '1.0-0' }}%</p>
        <span class="progress">
          <span
            class="progress-bar "
            [ngClass]="{
              'bg-success progress-bar': isReady,
              'progress-bar-striped bg-primary': !isReady
            }"
            role="progressbar"
            [style.width.%]="progress"
            [attr.aria-valuenow]="progress"
            aria-valuemin="0"
            aria-valuemax="100"
          >
          </span>
        </span>
      </div>
    </div>
  </div>

  <!-- Loading spinner -->
  <ng-template #loading>
    <app-loading
      class="w-100 h-100 d-flex justify-content-center align-items-center"
    ></app-loading>
  </ng-template>
</div>
