<ng-container
  *ngIf="{
    subfolders: subfolders$ | async,
    videos: videos$ | async
  } as folderContent"
>
  <ng-container *ngIf="folderContent.subfolders as subfolders">
    <ng-container *ngIf="folderContent.videos as videos">
      <div class="w-auto" *ngIf="folder$ | async as subject">
        <header class="p-4 d-flex align-items-center justify-content-between">
          <!--

              GO UP THE FOLDER TREE

              <a
              *ngIf="!!subject.themeParent; else goHome"
              [routerLink]="['/subject/', subject.themeParent]"
              class="text-reset mr-4 my-auto"
            >
              <i class="fas fa-arrow-left fa-3x"></i>
            </a>

            <ng-template #goHome>
              <a [routerLink]="['/']" class="text-reset my-auto">
                <i class="fas fa-home fa-3x"></i>
              </a>
            </ng-template> -->

          <h1 class="highlight">{{ subject.libelle }}</h1>

          <div>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-light dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Nouveau
              </button>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  [routerLink]=""
                  data-toggle="modal"
                  data-target="#addSubfolderModal"
                  >Sous-dossier</a
                >
                <a
                  class="dropdown-item"
                  [routerLink]=""
                  data-toggle="modal"
                  data-target="#addVideoModal"
                  >Vidéo</a
                >
              </div>
            </div>

            <!-- Convert to Playlist -->
            <button class="btn btn-light ml-3" (click)="launchPlaylist(videos)">
              Lire hors ligne
            </button>
            <!-- Button Edit subject -->
            <div class="btn-group ml-3">
              <button
                class="btn btn-light"
                data-toggle="modal"
                data-target="#editSubjectModal"
              >
                <!-- <i class="fas fa-pen fa-2x"></i> -->
                Modifier
              </button>
            </div>
          </div>
        </header>

        <section class="container-fluid">
          <main class="p-3">
            <h3>Sous-dossiers</h3>
            <!-- Mosaic of Subfolders -->
            <div *ngIf="subfolders.length > 0; else noSubfolders" class="my-3">
              <div class="row my-3">
                <div class="col-md-3 p-2" *ngFor="let s of subfolders">
                  <app-subfolder [subfolder]="s"></app-subfolder>
                </div>
              </div>
            </div>

            <ng-template #noSubfolders>
              <p class="text-muted">
                Aucun sous-dossier sur ce sujet. 🔍
              </p>
            </ng-template>

            <!-- Tab videos -->
            <h3>Vidéos</h3>
            <div *ngIf="videos.length > 0; else noVideos">
              <div class="row">
                <div *ngFor="let v of videos" class="col-md-3 my-2">
                  <!-- <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" [src]="v.youtubeId | youtubeSafeUrl" allowfullscreen></iframe>
                      </div> -->
                  <app-video [video]="v"></app-video>
                </div>
              </div>
            </div>

            <ng-template #noVideos>
              <p class="text-muted">
                Aucune vidéo sur ce sujet. 🔍
              </p>
            </ng-template>
          </main>
        </section>

        <app-edit-folder-modal [subject]="subject"></app-edit-folder-modal>
        <app-add-video-modal [subject]="subject"></app-add-video-modal>
        <app-add-subfolder-modal
          [subject]="subject"
          [user]="user"
          *ngIf="user$ | async as user"
        ></app-add-subfolder-modal>

        <!-- Loading spinner component -->
        <ng-template #loadingSpinner
          ><app-loading
            class="d-flex h-100 w-100 justify-content-center align-items-center text-warning"
          ></app-loading
        ></ng-template>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
