<div
  class="modal fade"
  id="addVideoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addVideoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <form
      class="modal-content"
      [formGroup]="videoFormGroup"
      (ngSubmit)="submitVideo(subject)"
    >
      <div class="modal-header text-center">
        <h5 class="modal-title text-center" id="addVideoModalTitle">
          Nouvelle vidéo Youtube
        </h5>
        <button
          type="button"
          [attr.id]="'close' + subject.id"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <input type="hidden" formControlName="$key" />
      <div class="modal-body">
        <div class="text-center mb-3">
          <p class="text-muted ">
            Le lien doit être de la forme
            <code>https://www.youtube.com/watch?v=XXXXXXXXX</code>
            (vidéo unique) ou
            <code
              >https://www.youtube.com/watch?v=XXXXXXXXX&list=XXXXXXXXX</code
            >
            (playlist).
          </p>
        </div>

        <div class="form-label-group">
          <input
            type="url"
            id="videoLink"
            class="form-control"
            placeholder="Lien Youtube"
            required
            autofocus
            autocomplete="off"
            formControlName="input"
            [ngClass]="{
              'is-invalid':
                submittedVideo && this.videoFormGroup.controls.input.errors
            }"
          />
          <label for="videoLink">Lien Youtube</label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-lg btn-primary btn-block mt-2">
            Enregistrer
          </button>
        </div>
        <div
          class="alert alert-success fade show"
          role="alert"
          *ngIf="successVideoSubmit"
        >
          <strong>Vers l'infini et au delà! 🚀</strong> Une nouvelle vidéo a été
          ajoutée.
        </div>
      </div>
    </form>
  </div>
</div>
