<div
  class="modal fade"
  id="editSubjectModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editSujectModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSujetModalTitle">
          Modifier le dossier : {{ subject.libelle }}
        </h5>
        <button
          type="button"
          [attr.id]="'close' + subject.id"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="alert alert-danger text-center" *ngIf="triedDelete">
          Rester appuyé pour supprimer
        </div>

        <!-- Rename the subject -->
        <div class="form-group row">
          <label for="rename" class="col-sm-3 col-form-label">Renommer :</label>
          <div class="col-sm-7">
            <input
              type="url"
              class="form-control"
              id="rename"
              [(ngModel)]="subject.libelle"
            />
          </div>

          <button
            class="btn btn-primary ml-3"
            (click)="editSubject()"
            data-dismiss="modal"
          >
            <i class="fas fa-save"></i>
          </button>
        </div>

        <!-- Crebase videos -->
        <div class="form-group row">
          <label for="test" class="col-sm-3 col-form-label"
            >Générer des vidéos :</label
          >
          <div class="col-sm-9">
            <button
              class="btn btn-secondary m-2"
              (click)="insertAngularVideos(subject)"
              data-dismiss="modal"
            >
              Angular
            </button>
            <button
              class="btn btn-secondary m-2"
              (click)="insertFirebaseVideos(subject)"
              data-dismiss="modal"
            >
              Firebase
            </button>
            <button
              class="btn btn-secondary m-2"
              (click)="insertJavascriptVideos(subject)"
              data-dismiss="modal"
            >
              Javascript
            </button>
            <button
              class="btn btn-secondary m-2"
              (click)="insertQualiteVideos(subject)"
              data-dismiss="modal"
            >
              Qualité
            </button>
            <button
              class="btn btn-secondary m-2"
              (click)="insertStateManagementVideos(subject)"
              data-dismiss="modal"
            >
              State Management
            </button>
          </div>
        </div>

        <!-- Holdable button : delete subject -->
        <div class="progress mt-3">
          <div
            class="progress-bar progress-bar-striped bg-danger"
            role="progressbar"
            [style.width.%]="deletionProgress * 2.5"
            [attr.aria-valuenow]="deletionProgress"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <button
          type="button"
          class="btn btn-lg btn-danger btn-block"
          (click)="tryDelete()"
          holdable
          (holdTime)="deleteSubject($event)"
        >
          <i class="fas fa-trash-alt"></i>
          <span class="ml-3">Supprimer</span>
        </button>
      </div>
    </div>
  </div>
</div>
