<!-- *** START *** : Video card-->
<div class="card bg-white shadow-sm text-reset">
  <div class="card-body">
    <div class="card-title row">
      <h5
        class="col-11 text-truncate"
        data-toggle="tooltip"
        data-placement="top"
        [title]="video.titre"
      >
        {{ video.titre }}
      </h5>
      <a
        [attr.data-target]="'#videoModal' + video.id"
        data-toggle="modal"
        [routerLink]=""
        class="text-secondary"
      >
        <i
          class="fas fa-info-circle"
          data-toggle="tooltip"
          data-placement="top"
          title="Voir détails"
        ></i>
      </a>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ video.channelTitle }}
      <button
        type="button"
        class="close text-danger"
        *ngIf="showPlayer"
        (click)="togglePlayer()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </h6>

    <!-- Show video -->
    <ng-container *ngIf="showPlayer">
      <div class="embed-responsive embed-responsive-16by9 my-3">
        <!-- <iframe class="embed-responsive-item" [src]="video.youtubeId | youtubeSafeUrl" allowfullscreen></iframe> -->

        <youtube-player
          [videoId]="video.youtubeId"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
        >
        </youtube-player>
      </div>
    </ng-container>

    <!-- Show Thumbnail -->
    <a [routerLink]="" (click)="togglePlayer()">
      <img
        *ngIf="video.thumbnails.medium && !showPlayer"
        [src]="video.thumbnails.medium.url"
        alt="Video thumbnail"
        class="my-2 card-img img-fluid"
      />
    </a>

    <p class="card-text">
      <small class="text-muted"
        >Ajoutée {{ video.dateCreation.toDate() | moment }}</small
      >
    </p>
    <button class="btn btn-success" (click)="addToPlaylist()">Ajouter à la playlist</button>
  </div>
</div>
<!-- *** END *** -->

<!-- *** START : Video modal -->
<div
  class="modal fade"
  [attr.id]="'videoModal' + video.id"
  tabindex="-1"
  role="dialog"
  [attr.aria-labelledby]="'videoModalTitle' + video.id"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <a
          href="https://youtube.com/watch?v={{ video.youtubeId }}"
          target="_blank"
        >
          <h5 class="modal-title" [attr.id]="'videoModalTitle' + video.id">
            {{ video.titre }}
          </h5>
        </a>
        <button
          type="button"
          [attr.id]="'close' + video.id"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- Alert Press to delete -->
        <div class="alert alert-danger text-center" *ngIf="triedDelete">
          Rester appuyé pour supprimer
        </div>

        <!-- General info -->
        <p>
          Publiée le {{ video?.publishedAt | moment: 'DD MMMM YYYY' }} par
          <a
            href="https://youtube.com/channel/{{ video.channelId }}"
            target="_blank"
            >{{ video.channelTitle }}</a
          >
        </p>

        <!-- View count-->
        <p *ngIf="video.statistics">
          {{ video.statistics.viewCount | number: '':'fr-FR' }} vues
        </p>

        <!-- Social stats : like, dislike, favorite, comments -->
        <p *ngIf="video.statistics">
          <span class="mr-2">
            <i class="fas fa-thumbs-up"></i>
            <span class="ml-2">{{
              video.statistics.likeCount | number: '':'fr-FR'
            }}</span>
          </span>
          <span class="mx-2">
            <i class="fas fa-thumbs-down"></i>
            <span class="ml-2">{{
              video.statistics.dislikeCount | number: '':'fr-FR'
            }}</span>
          </span>
          <span class="mx-2">
            <i class="fas fa-heart"></i>
            <span class="ml-2">{{
              video.statistics.favoriteCount | number: '':'fr-FR'
            }}</span>
          </span>
          <span class="mx-2">
            <i class="fas fa-comment"></i>
            <span class="ml-2">{{
              video.statistics.commentCount
                ? (video.statistics.commentCount | number: '':'fr-FR')
                : 'Commentaires désactivés'
            }}</span>
          </span>
        </p>

        <!-- Tags -->
        <p>
          <i class="fas fa-tags"></i>
          <span
            *ngFor="let tag of video.tags"
            class="badge badge-secondary mx-1"
            >{{ tag }}</span
          >
        </p>

        <div class="progress mt-3">
          <div
            class="progress-bar progress-bar-striped bg-danger"
            role="progressbar"
            [style.width.%]="progress * 2.5"
            [attr.aria-valuenow]="progress"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <button
          holdable
          class="btn btn-danger btn-large btn-block"
          (holdTime)="deleteVideo($event)"
          (click)="tryDelete()"
        >
          <i class="fas fa-trash-alt"></i>
          <span class="ml-3">Supprimer</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- *** END *** -->
