<ng-container *ngIf="currentState$ | async as currentState">
  <div
    *ngIf="
      itemPlaying &&
      (currentState === 'ready' ||
        currentState === 'playing' ||
        currentState === 'paused' ||
        currentState === 'ended')
    "
    class="d-flex flex-column justify-content-between align-items-center"
  >
    <!-- Title of the video -->
    <h4 class="my-3">{{ itemPlaying.video.titre }}</h4>

    <!-- Controls -->
    <div class="d-flex justify-content-center align-items-center">
      <!-- Previous track -->
      <a [routerLink]="" class="text-reset" (click)="playPreviousItem()">
        <i class="fas fa-step-backward fa-lg mx-3"></i>
      </a>

      <!-- Play -->
      <a
        *ngIf="
          currentState === 'paused' ||
          currentState === 'ready' ||
          currentState === 'ended'
        "
        [routerLink]=""
        (click)="playItem()"
        class="text-reset"
      >
        <i class="fas fa-play-circle fa-3x"></i>
      </a>

      <!-- Pause -->
      <a
        *ngIf="currentState === 'playing'"
        [routerLink]=""
        (click)="pauseItem()"
        class="text-reset"
      >
        <i class="fas fa-pause-circle fa-3x"></i>
      </a>

      <!-- Next track -->
      <a [routerLink]="" class="text-reset" (click)="playNextItem()">
        <i class="fas fa-step-forward fa-lg mx-3"></i>
      </a>
    </div>

    <div class="w-75" *ngIf="playerProgress$ | async as progress">
      <span class="progress">
        <span
          class="progress-bar bg-warning"
          role="progressbar"
          [style.width.%]="progress"
          [attr.aria-valuenow]="progress"
          aria-valuemin="0"
          aria-valuemax="100"
        >
        </span>
      </span>
    </div>
  </div>
</ng-container>
