@import '../../../styles/abstracts/variables';

// background-image: linear-gradient(
//   to right top,
//   #370536,
//   #7a2443,
//   #b05646,
//   #d1944e,
//   #dad871
// ) !important;
:host {
  margin: 20px 100px;
  height: 100%;
  display: grid;
  grid-template:
    'header   lead' 1fr
    'header   lead' 1fr
    'signin   signin' 1fr
    / 1fr 1fr;
  grid-gap: 1rem;
}

h1 {
  font-family: map-get($fonts, main);
  font-weight: bolder;
  font-size: 500%;
  grid-area: header;
  line-height: 1.5em;
  align-self: center;

  .hightlight {
    background-color: map-get($colors, highlight);
  }
}

#lead {
  grid-area: lead;
  align-self: center;
  font-size: 2em;
}

#signin {
  grid-area: signin;
  justify-self: center;
  align-self: center;
}

img {
  grid-area: img;
  width: 150px;
}
