<!-- <img
  src="assets/youtube-notebook-logo-colors.png"
  alt="Youtube Notebook Logo"
/> -->
<h1 class="cover-heading">
  À chaque sujet, son <span class="hightlight">dossier.</span>
</h1>
<p id="lead">
  Que ce soit pour se former avec des vidéos éducatives ou écouter ses playlists
  préférés, retrouvez facilement l'essentiel.
</p>
<div id="signin">
  <a [routerLink]="" class="btn btn-lg btn-primary" (click)="googleSignIn()">
    <i class="fab fa-google"></i>
    <span class="ml-3">Se connecter avec Google</span>
  </a>
</div>
